<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Movie List</title>
</head>
<body>
    <h1>Movie list</h1>
    <table>
        <thead>
            <tr>
                <th>Favourite movies</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.Title }}</td>
                <td>{{ row.IMDb_Rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>